<H1 class="pgtitle">Hoodies and Sweatshirts</H1>

<!-- Product Section - Start -->
<section>
    <div class="container">
      <div class="row g-4 py-5">
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/10/05173845/7-4-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/10/05173845/7-4-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>

            </div>
            <div class="product-info">
              
              <h6 class="product-title text-truncate"><a href="#">Weeknd After Hours Oversized Tshirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $35
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/11/07180952/20231207_122713003_iOS-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/11/07180952/20231207_122713003_iOS-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>

            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Rapper Oversized Tshirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $35
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/10/07181130/Y7-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/10/07181130/Y7-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>

            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Yeezus Oversized Tshirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $40
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/10/05151653/6-2-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/10/05151653/6-2-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>
 
            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Taylor Swift Oversized Tshirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $30
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/11/22161921/Bonkerscorner_Sbsp_01-1-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/11/22161921/Bonkerscorner_Sbsp_01-1-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>

            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Faded Spongebob Oversized Tshirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $33
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/11/22123332/Bonkerscorner_sb-t-shirt_05-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/11/22123332/Bonkerscorner_sb-t-shirt_05-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>
  
            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Hip-Hop Spongebob Oversized Tshirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $38
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/10/05145929/8-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/10/05145929/8-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>

            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Thriller Oversized Tshirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $36
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/09/13145011/Bonkers-Toki-Doki-05-09-2023-3990-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/09/13145011/Bonkers-Toki-Doki-05-09-2023-3990-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>
            
            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Tokidoki Oversized Tshirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $35
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Product Section - End -->