<H1 class="pgtitle">Shirts</H1>

<!-- Product Section - Start -->
<section>
    <div class="container">
      <div class="row g-4 py-5">
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/09/26172125/Bonkerscorner_Bottle-green-utiliti-shirt_06-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/09/26172125/Bonkerscorner_Bottle-green-utiliti-shirt_06-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>

            </div>
            <div class="product-info">
              
              <h6 class="product-title text-truncate"><a href="#">BottleGreen Shirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $35
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/09/26171128/Bonkerscorner_black-utility-shirt_01-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/09/26171128/Bonkerscorner_black-utility-shirt_01-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>

            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Black Shirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $35
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2022/03/24093730/Bonkerscorner_green_plaid_flannel_oversized_shirt_09-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2022/03/24093730/Bonkerscorner_green_plaid_flannel_oversized_shirt_09-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>

            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Green Plaid Checkered Shirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $40
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/09/28124100/Bonkerscorner_blue-utiliti-shirt_04-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2023/09/28124100/Bonkerscorner_blue-utiliti-shirt_04-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>
 
            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Blue Utility Shirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $30
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2022/10/13175901/Bonkerscorner_coco_berry_shirt01-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2022/10/13175901/Bonkerscorner_coco_berry_shirt01-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>

            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Coco Berry Shirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $33
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2022/09/05115550/Prussian-Mustard-Checkered-Plaid-Oversized-Shirt1-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2022/09/05115550/Prussian-Mustard-Checkered-Plaid-Oversized-Shirt1-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>
  
            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Checkered Plaid Shirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $38
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2022/03/23181212/Bonkerscorner_beige_shirt_03-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2022/03/23181212/Bonkerscorner_beige_shirt_03-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>

            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Beige Flannel Shirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $36
                </div>
  
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div routerLink="/checkout" class="product-single-card">
            <div class="product-top-area">
              <div class="product-discount">
                10%
              </div>
  
              <div class="product-img">
                <div class="first-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2022/10/15115309/20221013_043438421_iOS-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
                <div class="hover-view">
                  <img src="https://assets.bonkerscorner.com/uploads/2022/10/15115309/20221013_043438421_iOS-768x1152.jpg" alt="logo" class="img-fluid" onerror="this.src='https://i.ibb.co/qpB9ZCZ/placeholder.png'">
                </div>
              </div>
            
            </div>
            <div class="product-info">
              <h6 class="product-category"><a href="#"></a></h6>
              <h6 class="product-title text-truncate"><a href="#">Mustard Plaid Shirt</a></h6>
              <div class="d-flex align-items-center">
                <div class="review-star me-1">
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-solid fa-star"></i>
                  <i class="fa-regular fa-star-half-stroke"></i>
                  <i class="fa-regular fa-star"></i>
                </div>
  
                <span class="review-count"></span>
              </div>
              <div class="d-flex flex-wrap align-items-center py-2">
                <div class="old-price">
                  $50
                </div>
                <div class="new-price">
                  $35
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Product Section - End -->