<section class="about-section">
    <div class="container">
        <div class="row">                
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">About Bonkers</span>
                        <h2>We are Creative Fashion Enthusiast</h2>
                    </div>
                    <div class="text">Welcome to Bonkers, where style meets innovation and passion converges with craftsmanship. Established with a commitment to redefine the fashion landscape, our company is a beacon of design excellence. Rooted in the belief that fashion is a powerful form of self-expression, we curate collections that transcend trends, weaving together timeless elegance and contemporary flair. Our dedicated team of designers is driven by a relentless pursuit of creativity, bringing forth garments that tell stories, evoke emotions, and celebrate individuality.</div>
                  <div class="text">
                    At Bonkers, we embrace diversity and inclusivity, ensuring our designs resonate with a global audience. With an unwavering dedication to quality and sustainability, every piece is a testament to our vision — to empower individuals to express their unique identity through the artistry of fashion. Join us on this journey, where every thread weaves a tale of style, sophistication, and conscious elegance.
                  </div>
                    <div class="btn-box">
                        <a href="#" routerLink="/contact" class="theme-btn btn-style-one">Contact Us</a>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column wow fadeInLeft">
                  <div class="author-desc">
                    <h2>Arzaan Ali Khan</h2>
                    <span>Owner/Founder @Bonkers</span>
                  </div>
                    <figure class="image-1"><a href="#" class="lightbox-image" data-fancybox="images"><img title="Bonkers" src="https://s3-us-west-2.amazonaws.com/issuewireassets/primg/89223/logo2043542457.jpg" alt=""></a></figure>
                 
                </div>
            </div>
          
        </div>
       <div class="sec-title">
                        <span class="title"></span>
                        <h2>We want to lead in innovation & Technology</h2>
                    </div>
      <div class="text">
        At Bonkers, our future is painted with a canvas of boundless aspirations and transformative goals. As we navigate the ever-evolving landscape of fashion, our vision extends far beyond the seams of the present. We envision becoming a trailblazer in sustainable fashion, prioritizing ethical practices and environmental consciousness. Our goal is to expand our global footprint, reaching diverse communities and fostering a connection through our designs.
          </div>
           <div class="text">
            
            We aspire to be at the forefront of technological advancements, seamlessly integrating innovation into our creative process. Embracing inclusivity, we aim to amplify underrepresented voices in the fashion industry, contributing to a more diverse and equitable narrative. With a commitment to social responsibility and a keen eye on emerging trends, we strive to not only meet but exceed the expectations of our discerning clientele. At Bonkers, the future is a runway of endless possibilities, and we are poised to make a lasting impact on the world of fashion.
          </div>
    </div>
</section>