.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; /* Adjust the z-index as needed */
    margin-left: 250px;
    margin-right: 250px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 15px;
    font-family: 'Orbitron', sans-serif;
    backdrop-filter: blur(50px);
    /* You may want to add a background color or an image to your sticky navbar */
}

.nav_inner {
    background: var(--light);
    backdrop-filter: blur(50px);
    border: 0.1px solid rgba(233, 232, 232, 0.208);
    border-radius: 5px;
    padding: 2rem;
    margin: 1rem 0;
}

/* Additional styles for the body to offset content when the navbar is sticky */
body {
    margin-top: /* Set the height of your sticky navbar */
}
