  <video class="footer_video" muted="" loop="" autoplay src="//cdn.shopify.com/s/files/1/0526/6905/5172/t/5/assets/footer.mp4?v=29581141968431347981633714450" type="video/mp4" width="1536px">
</video>
   <div class="allm">
<h1 class="m1">Identifying Art.</h1>
<h1 class="m2">Design.</h1>
<h1 class="m3">Purpose.</h1>
</div>
  <body>
  <div class="container">
    <div class="card">
      <a href="https://www.bonkerscorner.com/product-category/latest-collection/">
      <div class="circle">
        <img src="https://assets.bonkerscorner.com/uploads/2023/06/30123016/Bonkerscorner_Saint-luci_02-768x1152.jpg" alt="" height="580px" width="360px">
      </div>
      <h3 class="title">New In</h3></a>
    </div>
    <div class="card">
      <a href="https://www.bonkerscorner.com/shop-women/">
      <div class="circle">
        <img src="https://assets.bonkerscorner.com/uploads/2023/11/20130045/Bonkerscorner_Sbsp_02-768x1152.jpg" alt="" height="580px" width="360px">
      </div>
      <h3 class="title">Women</h3></a>
    </div>
    <div class="card">
      <a href="https://www.bonkerscorner.com/shop-men/">
      <div class="circle">
        <img src="https://assets.bonkerscorner.com/uploads/2023/09/13145011/Bonkers-Toki-Doki-05-09-2023-3990-768x1152.jpg" alt="" height="580px" width="360px">
      </div>
      <h3 class="title">Men</h3></a>
    </div>
    <div class="card">
      <a href="https://www.bonkerscorner.com/product-tag/marvel/?orderby=popularity">
      <div class="circle">
        <img src="https://assets.bonkerscorner.com/uploads/2023/03/27170957/Bonkerscorner_Scar_02-768x1152.jpg" alt="" height="580px" width="360px">
      </div>
      <h3 class="title">On Sale</h3></a>  
    </div>
  </div>
  </body>
  <app-infinite-slider></app-infinite-slider>
  <app-mainpagecards></app-mainpagecards>
  <!-- <app-details-page></app-details-page> -->