<div class="banner">
    <img src="https://assets.bonkerscorner.com/uploads/2022/08/31173623/offergif-1.gif" alt="" width="1536px">
</div>

<div class="head">
    <h2>New In</h2>
</div>
    <div class="container text-center">
      <div class="row">
        <div class="col" id="col1">
          <div class="card" style="width: 20rem">
            <img 
              src="https://assets.bonkerscorner.com/uploads/2023/03/14183312/Bonkerscorner_Captain-America_09-768x1152.jpg"
              class="abc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Captain America Oversized Tshirt</h5>
              <p class="card-text">
                $25
              </p>
              <a href="#" routerLink="/checkout" class="btn btn-outline-dark">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col" id="col2">
          <div class="card" style="width: 20rem"> 
            <img
              src="https://assets.bonkerscorner.com/uploads/2023/12/07103559/Bonkerscorner_Wolverine_2-768x1152.jpg"
              class="abc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Wolverine Oversized Tshirt</h5>
              <p class="card-text">
                $22
              </p>
              <a href="#" routerLink="/checkout" class="btn btn-outline-dark">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col" id="col3">
          <div class="card" style="width: 20rem">
            <img
              src="https://assets.bonkerscorner.com/uploads/2023/08/01121223/Bonkerscorner_Hulk_04-1-768x1152.jpg"
              class="abc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">The Hulk Oversized Tshirt</h5>
              <p class="card-text">
                $25
              </p>
              <a href="#" routerLink="/checkout" class="btn btn-outline-dark">Buy now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="head">
        <h2>Best Seller</h2>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 20rem">
            <img
              src="https://assets.bonkerscorner.com/uploads/2022/05/28120256/9053477B-B45C-42A9-BEEB-0F8FC6D525E6-768x1152.jpg"
              class="abc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Coco Stripes Heavyweight Oversized Tshirt</h5>
              <p class="card-text">
                $17
              </p>
              <a href="#" routerLink="/checkout" class="btn btn-outline-dark">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 20rem">
            <img
              src="https://assets.bonkerscorner.com/uploads/2022/03/23104902/Bonkerscorner_moon_child_02-1-768x1152.jpg"
              class="abc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Moon Child Oversized Tshirt</h5>
              <p class="card-text">
                $17
              </p>
              <a href="#" routerLink="/checkout" class="btn btn-outline-dark">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 20rem">
            <img
              src="https://assets.bonkerscorner.com/uploads/2022/03/23113706/Bonkerscorner_main_character_02-1-768x1152.jpg"
              class="abc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Main Character Oversized Tshirt</h5>
              <p class="card-text">
                $17
              </p>
              <a href="#" routerLink="/checkout" class="btn btn-outline-dark">Buy now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="head">
        <h2>Accessories</h2>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col">
          <div class="card" style="width: 20rem">
            <img
              src="https://assets.bonkerscorner.com/uploads/2022/12/30175638/Bonkerscorner_bonkers_cap_02-768x1152.jpg"
              class="abc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Bonkers Signature Alien Cap</h5>
              <p class="card-text">
                $10
              </p>
              <a href="#" routerLink="/checkout" class="btn btn-outline-dark">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 20rem">
            <img
              src="https://assets.bonkerscorner.com/uploads/2021/06/16085843/BONKERSCORNER_BUCKETHAT_1_4-768x1152.jpg"
              class="abc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Lilac Bubblegum Bucket Hat</h5>
              <p class="card-text">
                $12
              </p>
              <a href="#" routerLink="/checkout" class="btn btn-outline-dark">Buy now</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="width: 20rem">
            <img
              src="https://assets.bonkerscorner.com/uploads/2021/01/22212742/IMG_4744-min-768x1152.jpg"
              class="abc"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Beige 5-Layer ISO certified Face Mask</h5>
              <p class="card-text">
                $5
              </p>
              <a href="#" routerLink="/checkout" class="btn btn-outline-dark">buy Now</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="info">
  
      <div class="info-section">
          <img src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/globe-free-img.png">
          
          <h3>Worldwide Shipping</h3>
          <p></p>
          
        </div>
      <div class="info-section">
          <img src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/quality-free-img.png">
          
          <h3>Best Quality</h3>
          <p></p>
          
        </div>
      <div class="info-section">
          <img src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/tag-free-img.png">
          
          <h3>Best Offers</h3>
          <p></p>
          
        </div>
      <div class="info-section">
          <img src="https://websitedemos.net/brandstore-02/wp-content/uploads/sites/150/2018/12/lock-free-img.png">
          
          <h3>Secure Payments</h3>
          <p></p>
          
        </div>
